{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-use-before-define": "error"
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
